<!DOCTYPE>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>ホーム</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../loginForm_files/css/reset.css?20231219">
    <link rel="stylesheet" href="../loginForm_files/css/components.css?20231219">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../loginForm_files/css/home.css?20231219">
</head>

<body>
    <!-- 背景置いてスクロール -->
    <div class="hh_scrollBody">
        <!-- ヘッダー -->
        <header>
            <h1 class="hh_typo_header">ホーム</h1>
        </header>

        <!-- メイン -->
        <main>

        </main>

        <!-- フッター -->
        <footer>
            <p class="hh_typo_footer">&copy;2023 UniqueSea.</p>
        </footer>
    </div>

    <!-- 共通JavaScript -->
    <script src="../loginForm_files/css/events.js?20231219"></script>
    <!-- 個別JavaScript -->
    <script src="../loginForm_files/css/home.js?20231219"></script>
</body>

</html>