<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <!-- 画面共通CSS -->
    <link rel="stylesheet" href="../loginAuthentication_files/css/reset.css?20240801">
    <link rel="stylesheet" href="../loginAuthentication_files/css/components.css?20240801">
    <link rel="stylesheet" href="../loginAuthentication_files/css/common.css?20240801">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../loginAuthentication_files/css/login.css?20240801">
</head>

<body>
    <!-- ヘッダー -->
    <header><img src="../loginAuthentication_files/image/logo_sp.svg" class="com_logo_sp"></img><img
            src="../loginAuthentication_files/image/logo_pc.svg" class="com_logo_pc"></img>
        <div class="com_ttl">
            <h1>ログイン認証</h1>
        </div>
    </header>

    <!-- メイン -->
    <main>
        <section class="l_formSec">
            <div class="l_formWrapper">
                <form class="l_form" id="l_form">
                    <div class="l_formItem">
                        <div class="c_textField01_ttl">
                            <p>ユーザーID</p>
                            <div class="c_textField01_asterisk">
                                <p>&ast;</p>
                            </div>
                        </div>
                        <div class="c_textField01_content"><input type="text" name="userId" class="c_textField01"
                                id="l_userId" maxlength="7" autocomplete="username" tabindex="0"></div>
                    </div>
                    <div class="l_formItem">
                        <div class="c_textField01_ttl">
                            <p>パスワード</p>
                            <div class="c_textField01_asterisk">
                                <p>&ast;</p>
                            </div>
                        </div>
                        <div class="c_textField01_content"><input type="password" name="password" class="c_textField01"
                                id="l_password" autocomplete="current-password"></div>
                    </div>
                    <div class="l_loginBtnWrapper">
                        <button class="c_button01 c_button01_blue" id="l_loginBtn" tabindex="0">
                            <p>ログイン</p>
                        </button>
                    </div>
                </form>
            </div>
            <div class="l_registerLinkWrapper"><a href="./register.html" class="c_link">
                    <p>アカウント新規登録</p>
                    <div class="c_link_icon"><svg width="24" height="24"></svg></div>
                </a></div>
            <div class="l_reregisterLinkWrapper"><a href="./register.html" class="c_link">
                    <p>パスワード再登録</p>
                    <div class="c_link_icon"><svg width="24" height="24"></svg></div>
                </a></div>
        </section>
    </main>

    <!-- フッター -->
    <footer>
        <p>&copy; 2024 Unique Sea. All rights reserved</p>
    </footer>

    <!-- 画面共通JavaScript -->
    <script src="../loginAuthentication_files/css/events.js"></script>
    <script src="../loginAuthentication_files/css/common.js"></script>
    <!-- 画面個別JavaScript -->
    <script src="../loginAuthentication_files/css/login.js"></script>
</body>

</html>