/* ログイン */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(315deg, rgba(0, 79, 221, 1) 0%, rgba(13, 162, 158, 1) 27%, rgba(4, 202, 76, 1) 61%, rgba(0, 245, 255, 1) 100%);
}

.pt_loginSec {
    padding: 24px 20px;
}

.pt_loginForm {
    width: 100%;
    max-width: 360px;
    padding: 24px;
    border-radius: 24px;
    background-color: rgba(46, 46, 46, 0.6);
}

.pt_loginImgWrapper>img {
    width: 100%;
    border-radius: 8px;
}

.pt_textFieldWrapper,
.pt_loginBtnWrapper,
.pt_linkWrapper {
    padding-top: 16px;
}

@media (min-width: 760px) {
    .pt_loginSec {
        padding: 48px 0;
    }

    .pt_loginForm {
        
    }

    .pt_loginImgWrapper {
        text-align: center;
    }
    
    .pt_loginImgWrapper>img {
        width: initial;
        height: 200px;
    }
}

.c_link01 {
    display: flex;
}

.c_link01_right {
    justify-content: flex-end;
}

.c_link01_inner {
    display: flex;
    align-items: center;
    transition: all ease 0.4s;
}

.c_link01 p {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #0068B7;
}

.c_link01_icon {
    flex-shrink: 0;
    padding-left: 8px;
}

.c_link01_icon>svg {
    width: 24px;
    height: 24px;
}

@media (min-width: 760px) {
    .c_link01_inner {
        cursor: pointer;
    }

    .c_link01_inner:hover {
        background-color: #BBDBF3;
        transition: all ease 0.4s;
    }
}